{% extends 'default.html' %}
<body>
{% block body %}
    {{ request.user}}
<!--    <form method="POST">-->
<!--        {% csrf_token %}-->
<!--        {{ form.media }}-->
<!--        {{ form.as_p }}-->
<!--        <input type="submit" value="Изменить">-->
<!--    </form>-->
<form id="update-form" method="post">
    {% csrf_token %}

    <div class="col s11">
        <div class="row">
            <div class="input-field">
                <input id="id_username" name="username" type="text" placeholder="Новое имя пользователя.">
                <label for="id_username" data-error="Это имя пользователя уже занято.">Имя пользователя</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <label for="id_avatar">Фотография профиля</label>
                <input id="id_avatar" name="avatar" type="file">
            </div>
        </div>
        <div class="col s1" style="line-height: 80px">
            <button style="background: #a8d8ff">Отправить</button>
        </div>
    </div>
</form>
<script>
    function update(username, avatar) {
        $.post('/api/users', '{"username": "' + username + '", "avatar": "' + avatar + '"}',
            function (data) {
                console.log(data);
                window.location = '/';
            }).fail(function (response) {
                $('#id_username').addClass('invalid');
            })
    }

    $(function () {
        $('#update-form').on('submit', function (event) {
            event.preventDefault();
            var username = $('#id_username').val();
            if(username !== '')
            {
                register(username, password);
            }
            else
                alert("Пожалуйста, введите корректное имя пользователя");
        })
    })
    </script>
{% endblock body %}
</body>
