{% extends 'default.html' %}
{% block body %}

    <div class="section" style="height: 80vh">
    <div class="row">
        <div class="col s3">
            <div class="card">
                <div id="users" class="collection">

                </div>
            </div>
        </div>
        <div class="col s9">
            <div class="card">
            <div id="board" class="section grey lighten-3" style="height: 68vh; padding: 5px; overflow-y: scroll">
                {% block messages %}

                {% endblock %}
            </div>
            <form id="chat-box" class="form-group {% block hide %}hide{% endblock %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col s11">
                        <div class="input-field">
                            <input id="id_message" name="message" type="text" placeholder="Напишите свое сообщение..">
                        </div>
                    </div>
                    <div class="col s1" style="line-height: 80px">
                        <button style="background: #a8d8ff">Отправить</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
    </div>
    {% load static %}
    <script>
        sender_id = "{{ receiver.id }}";
        receiver_id = "{{ request.user.id }}";

        $(function () {
            $('#chat-box').on('submit', function (event) {
                event.preventDefault();
                var message = $('#id_message');
                send('{{ request.user.username }}', '{{ receiver.username }}', message.val());
                message.val('');
            })
            setInterval(() => {
                getUsers({{ request.user.id }}, doc => {
                    let list = ''
                    doc.map(userItem => {
                        list += userItem
                    })
                    $('#users').html(list)
                });
            }, 1000)
        })
    </script>
{% endblock %}